{
"path": "network-instances/network-instance[name={{ network_instance }}]/protocols",
"value": {
    "openconfig-network-instance:protocol": [
      {
        "config": {
          "enabled": true,
          "identifier": "openconfig-policy-types:OSPF",
          "name": "{{ name }}"
        },
        "identifier": "openconfig-policy-types:OSPF",
        "name": "{{ 100 }}",
        "ospfv2": {
          "areas": {
            "area": [
              {% for area in areas %}
              {
                "config": {
                  "identifier": "{{ area.id }}"
                },
                "identifier": "{{ area.id }}",
                "interfaces": {
                  "interface": [
                    {% for iface in area.interfaces %}
                    {
                      "id": "{{ iface.name }}",
                      "config": {
                        "id": "{{ iface.name }}",
                        "metric": 0,
                        "network-type": "{{ iface.network_type | upper }}",
                        "passive": false,
                        "priority": 1
                      }
                    }{{ "," if not loop.last }}
                    {% endfor %}
                  ]
                }
              }{{ "," if not loop.last }}
              {% endfor %}
            ]
          }
        }
      }
    ]
  }
}
