<config xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
  <system xmlns="http://openconfig.net/yang/system">
    <ntp>
      <config>
        <enabled>{{ enabled | lower }}</enabled>
      </config>
      <servers>
        {% for server in servers %}
        <server>
          <address>{{ server.ip_address }}</address>
          <config>
            <address>{{ server.ip_address }}</address>
            <network-instance>{{ network_instance }}</network-instance>
          </config>
        </server>
        {% endfor %}
      </servers>
    </ntp>
  </system>
</config>
