<config xmlns="urn:ietf:params:xml:ns:netconf:base:1.0"> <!--important-->
  <network-instances xmlns="http://openconfig.net/yang/network-instance">
    <network-instance>
      <name>default</name>
      <config>
        <ipv4-routing-enabled xmlns="http://arista.com/yang/openconfig/network-instances/augments">{{ enabled }}</ipv4-routing-enabled>
        <ipv6-routing-enabled xmlns="http://arista.com/yang/openconfig/network-instances/augments">{{ enabled }}</ipv6-routing-enabled>
        <name>default</name>
        <type xmlns:oc-ni-types="http://openconfig.net/yang/network-instance-types">oc-ni-types:DEFAULT_INSTANCE</type>
      </config>
    </network-instance>
  </network-instances>
</config>