<?xml version="1.0"?>
<config xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
  <network-instances xmlns="http://openconfig.net/yang/network-instance">
    <network-instance>
      <name>{{ network_instance }}</name>
      <protocols>
        <protocol>
          <identifier xmlns:oc-pol-types="http://openconfig.net/yang/policy-types">oc-pol-types:OSPF</identifier>
          <name>{{ name }}</name>
          <config>
            <enabled>{{ enabled | lower }}</enabled>
            <identifier xmlns:oc-pol-types="http://openconfig.net/yang/policy-types">oc-pol-types:OSPF</identifier>
            <name>{{ name }}</name>
          </config>
          <ospfv2>
            <areas>
			          {% for area in areas %}
                <area><identifier>{{ area.id }}</identifier>
                  <config>
                     <identifier>{{ area.id }}</identifier>
                  </config>
                  <interfaces>
                    {% for iface in area.interfaces %}
                    <interface>
                      <id>{{ iface.name }}</id>
                      <config>
                        <id>{{ iface.name }}</id>
                        <network-type>{{ iface.network_type | upper}}</network-type>
                        <passive>{{ iface.passive | lower}}</passive>
                      </config>
                    </interface>
                    {% endfor %}
                  </interfaces>
                </area>
            {% endfor %}
            </areas>
            <global>
              <config>
                <router-id>{{ router_id }}</router-id>
              </config>
            </global>
          </ospfv2>
        </protocol>
      </protocols>
    </network-instance>
  </network-instances>
</config>
