<config xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
  <interfaces xmlns="http://openconfig.net/yang/interfaces">
    {% for iface in interfaces %}
    <interface>
      <name>{{ iface.name }}</name>
      <config>
        <name>{{ iface.name }}</name>
        <type xmlns:iana-if-type="urn:ietf:params:xml:ns:yang:iana-if-type">
          iana-if-type:ethernetCsmacd
        </type>
        <enabled>{{ iface.enabled | lower }}</enabled>
      </config>
      <subinterfaces>
        <subinterface>
          <index>{{ iface.subinterface }}</index>
          <config>
            <index>{{ iface.subinterface }}</index>
            <enabled>{{ iface.enabled | lower }}</enabled>
          </config>
          <ipv4 xmlns="http://openconfig.net/yang/interfaces/ip">
            <addresses>
              <address>
                <ip>{{ iface.ip_address }}</ip>
                <config>
                  <ip>{{ iface.ip_address }}</ip>
                  <prefix-length>{{ iface.prefix_length }}</prefix-length>
                </config>
              </address>
            </addresses>
            <config>
              <enabled>{{ iface.enabled | lower }}</enabled>
            </config>
          </ipv4>
        </subinterface>
      </subinterfaces>
    </interface>
    {% endfor %}
  </interfaces>
</config>