<config xmlns="urn:ietf:params:xml:ns:netconf:base:1.0"> <!--important-->
  <network-instance xmlns="urn:nokia.com:srlinux:net-inst:network-instance">
      <name>{{ name }}</name>
      <type>{{ type }}</type>
      <admin-state>enable</admin-state>
      <description>{{ description }}</description>
  </network-instance>
</config>