<config xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
<network-instances xmlns="http://openconfig.net/yang/network-instance">
    {% for ni in instances %}
    <network-instance>
        <name>{{ ni.name }}</name>
        <config>
            <name>{{ ni.name }}</name>
            <description> {{ ni.description }}</description>
            <type xmlns:openconfig-network-instance-types="http://openconfig.net/yang/network-instance-types">{{ ni.type }}</type>
        </config>
    </network-instance>
    {% endfor %}
</network-instances>
</config>