<config xmlns="urn:ietf:params:xml:ns:netconf:base:1.0"> <!--important-->
  <network-instance xmlns="urn:nokia.com:srlinux:net-inst:network-instance">
      <name>{{ network_instance }}</name>
      <interface>
        <name>{{ name }}.{{ subinterface }}</name>
      </interface>
  </network-instance>
</config>
