[
  {% for iface in interfaces %}
  {
    "path": "interface[name={{ iface.name }}]",
    "value": {
      "admin-state": "enable",
      "subinterface": [
        {
          "index": {{ iface.subinterface }},
          "admin-state": "enable",
          "ipv4": {
            "admin-state": "enable",
            "address": [{ "ip-prefix": "{{ iface.ip_address }}/{{ iface.prefix_length }}" }]
          }
        }
      ]
    }
  }{{ "," if not loop.last }}
  {% endfor %}
]