{
  "config": {
    "xmlns": "urn:ietf:params:xml:ns:netconf:base:1.0",
    "interfaces": {
      "xmlns": "http://openconfig.net/yang/interfaces",
      "interface": [
        {% for iface in interfaces %}
        {
          "name": "{{ iface.name }}",
          "config": {
            "name": "{{ iface.name }}",
            "type": {
              "xmlns:iana-if-type": "urn:ietf:params:xml:ns:yang:iana-if-type",
              "value": "iana-if-type:ethernetCsmacd"
            },
            "enabled": {{ iface.enabled | lower }}
          },
          "subinterfaces": {
            "subinterface": {
              "index": {{ iface.subinterface }},
              "config": {
                "index": {{ iface.subinterface }},
                "enabled": {{ iface.enabled | lower }}
              },
              "ipv4": {
                "xmlns": "http://openconfig.net/yang/interfaces/ip",
                "addresses": {
                  "address": {
                    "ip": "{{ iface.ip_address }}",
                    "config": {
                      "ip": "{{ iface.ip_address }}",
                      "prefix-length": {{ iface.prefix_length }}
                    }
                  }
                },
                "config": {
                  "enabled": {{ iface.enabled | lower }}
                }
              }
            }
          }
        }{% if not loop.last %},{% endif %}
        {% endfor %}
      ]
    }
  }
}